# IDE settings
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Checkpoints
.ipynb_checkpoints
__pycache__/
.pyc
*.pyo
.DS_Store

# Unit tests
pytest.xml
.pytest_cache
.coverage
htmlcov/

# Built Documentation
docs/_build
docs/_autosummary
docs/html

# Build artifacts
build
dist
*.egg-info
venv/

# Dask
dask-worker-space

# Example for local test
example-local/
wip
src/energyml/utils/converter/
# utils/

# Other files
requirements.txt
#doc/
sample/
gen*/
manip*
*.epc
*.off
*.obj
*.log
*.geojson
*.json
*.csv
*.zip

*.xml
*.json